<template name="palette">
  <div id="palette">

   <div class="row">
      <div class="text-center">
      <div class="col-xs-12 col-sm-12">
        <button class='clear btn btn-default btn-sm'>Clear</button>
      </div>
  </div>    

<hr>
    <div class="row">
      <div class="col-xs-12">
        <h4 class="text-center">Brush Size</h4>
      </div>
    </div>
      <div class="col-xs-2 col-sm-6">
        <button class='brush-small btn btn-default btn-sm'>Small</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='brush-medium btn btn-default btn-sm'>Medium</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='brush-large btn btn-default btn-sm'>Large</button>
      </div>
    </div>
    <div class="row">
        <h4 class="text-center">Thickness</h4>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-6">  
        <button class='thinner btn btn-default btn-sm'>-</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='thicker btn btn-default btn-sm'>+</button>
      </div>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="col-xs-12">
        <h4 class="text-center">Colors</h4>
      </div>
    </div>
    
    <div class="row">
      <!-- color buttons -->
      <div class="col-xs-2 col-sm-6">
        <button class='black colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='white colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='red colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='blue colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='green colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='yellow colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='orange colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='purple colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='cyan colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='lavender colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='fuchsia colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='rosy colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='brick colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='olive colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='orchid colorBox'></button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='slategray colorBox'></button>
      </div>
    </div>
    
    <hr>
    
    <div class="row">
    <div class="text-center">
      <div class="col-xs-12 col-sm-12">
        <label for="customColor">Custom Color</label>
      <div>
        <input type="color" class="btn btn-round btn-sm" name="customColor" id="customColor"/>
      </div>
      </div>
      </div>
    </div>
  </div>
</template>